@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@layer base {
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to bottom right,
        rgba(228, 0, 118, 0.8),
        rgba(238, 174, 202, 1)
    ) !important;
}